<div class="auto col-4 vertical-align h-100vh" style="padding: 50px 0;">
    <div class="auto col-10 bg-white" style="padding: 20px 0;">
        <div class="auto col-10">
            <div class="login-text col-6 offset-md-6 add-btn">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Article
            </div>                  
            <div *ngFor="let data of jsonData" class="title">
                Title: {{ data.title }}
                <div style="font-weight
                : normal;">
                    Date: {{ data.date }}
                </div>
            </div>
        </div>
    </div>
</div>