<div class="auto col-4 vertical-align h-100vh" style="padding: 50px 0;">
    <div class="auto col-10 bg-white" style="padding: 20px 0;">
        <div class="auto col-10">
            <form [formGroup]="articleForm" (ngSubmit)="onFormSubmit()">
                <div class="row margin-0">
                    <div class="col-6 add-btn vertical-align" [routerLink]="['/']">
                        CANCEL
                    </div>
                    <div class="login-text col-6 add-btn" (click)="validate()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </div> 
                </div> 
                <input id="title" name="title" formControlName="title" class="form-control" placeholder="Title" />
                <input id="date" name="date" formControlName="date" class="form-control margin-10-0" placeholder="Date" />
                <textarea id="body" name="body" formControlName="body" rows="4" class="form-control" placeholder="Body">
                </textarea>
            </form>
        </div>
    </div>
</div>